body 
{
    background-image:url("../movie_back.jpg");
    background-size: 100% ,100%;
    font-family: 'Cinzel', serif;
}
h1
{
    color:white;
    text-shadow: 0 0 5px #fff,
                0 0 10px #fff,
                0 0 20px chartreuse,
                0 0 30px chartreuse,
                0 0 40px chartreuse,
                0 0 55px chartreuse,
                0 0 70px chartreuse,
                0 0 85px chartreuse;
    font-size: 4rem;
    text-align: center;
    margin-top:3%;
}

.card
{
    color:#fff;
    background-color:rgba(43, 67, 45,0.7);
    border-radius: 7%;
    text-align: center;
    margin-top: 15%;
    margin-bottom: 15%;
    border: 2px solid chartreuse;
    min-width:400px;
}
.container
{
    display:flex;
    justify-content: center;
}
#label
{
    margin: 5% 20%;
    font-size: 2rem;
    color:chartreuse;
    text-shadow:  0 0 5px chartreuse,
    0 0 10px chartreuse,
    0 0 20px rgb(6, 239, 88)e,
    0 0 30px rgb(6, 239, 88),
    0 0 40px rgb(6, 239, 88),
    0 0 55px rgb(6, 239, 88),
    0 0 70px rgb(6, 239, 88);
}
#input
{
    margin:5% 20%;
    background-color: rgb(6, 239, 88);
}
.btn
{
    margin:5% 20%;
    background-color: chartreuse;
    color:#fff;
    text-shadow: 0 0 5px #fff,
    0 0 20px chartreuse,
    0 0 30px chartreuse;
}
.btn:hover
{
    background-color: rgb(91, 183, 0);
}
.card-img-top
{
    border-top-left-radius: 8%;
    border-top-right-radius: 8%;
    height:350px;
}
.card-title
{
    font-size: 2rem;
    color:chartreuse;
}
.lab
{
    color:rgb(157, 241, 241);
}

.card-deck .card {
    min-width: 0;
    min-height: 0;
    margin-top: 2%;
    margin-bottom: 5%;
}

h2 {
    font-size: 1.7rem;
    margin-top: 2%;
        color:chartreuse;
        text-shadow: 0 0 5px chartreuse,
                    0 0 10px chartreuse,
                    0 0 20px #009914,
                    0 0 30px #009914,
                    0 0 40px #009914,
                    0 0 55px #009914,
                    0 0 70px #009914,
                    0 0 85px #009914;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: #c6c6c6;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-5%);
}

.neww {
    color:black;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1rem;
    margin-left: 60%;
    margin-right: 10px;
    line-height: 20px;
}

.neww a{
    color:black;
    text-decoration: none;
}

.btn-cont {
    display: flex;
}

.card-deck {
    margin-left: 100px;
    margin-right: 100px;
}